<div class="modal fade" id="detailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transaction Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Transaction Number:</strong> <span id="modal-transaction-number"></span></p>
                <p><strong>Cashier:</strong> <span id="modal-transaction-cashier"></span></p>
                <p><strong>Transaction Date:</strong> <span id="modal-transaction-date"></span></p>
                <hr />
                <div id="modal-items"></div>
                <hr />
                <p><strong>Subtotal:</strong> ₱<span id="modal-subtotal"></span></p>
                <p><strong>Tax:</strong> ₱<span id="modal-tax"></span></p>
                <p><strong>Total Amount:</strong> ₱<span id="modal-total"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
